.mai-login .login .ant-col-8 {
  border-right: 1px solid #ccc;
}
.mai-login .login .ant-input-affix-wrapper {
  width: 93%;
}
.mai-login .login .ant-col.ant-col-12 .ant-form {
  margin-top: 14%;
}

.qa .profile_banner button {
    border: 0px;
    padding: 10px 20px;
    margin: 0px 5px -1px 5px;
    background: #fff;
    color: #34d0cc;
    font-size: 14px;
   
}
.qa .profile_banner button:hover{    background: #f1f1f1;}
.qa .profile_banner p {
  font-size: 14px;
  padding-left: 5px;
  margin-top: 5px;
}
.qa .profile_banner .questions-block {
  margin-left: 25%;
}
.qa-mid-wrap {
  margin-top: 65px;
}
.qa-mid {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  box-shadow: 0 0px 2px #0000002e, 0 2px 2px #0000001f;

  
  p {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .profile {
    display: flex;
    align-items: center;
    p {
      background: #f3f3f3;
      padding-left: 10px;
      font-size: 14px;
      float: right;
    }
  }
  .profile-name {
    flex: 3;
    h4 {
      width: auto;
      display: contents;
      font-size: 20px;
    }
  }

  .profile-pic img {
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .qa-sec {
    border: 1px solid #ccc;
    padding: 15px;
    
    .likesection
    {
      display: flex;
      justify-content: space-around;
      align-items: center;
      span{font-size: 12px; padding: 0px;}
  }
 .follow {
    display: flex;
    align-items: center;
}
    .follows{
        display: block;
        font-size: 14px;
        text-decoration: underline;
    }
    p{margin-top: 20px;}
    h4 {
      font-size: 18px;
      margin-bottom: 15px;
    }
    span {
      padding: 5px 8px;
      margin: 2px;
      font-size: 14px;
    }
    .new {
      background-color: #00a39e;
      color: #fff;
    }
    .question {
      background-color: #c5e8e5;
      color: #007478;
    }
    .answers {
      background-color: rgba(0, 0, 0, 0);
      color: #00a39e;
      box-shadow: inset 0 0 0 1px #00a39e;
    }
    .more {
      font-size: 14px;
      float: right;
      border: 1px solid #ccc;
      cursor: pointer;
      border-radius: 5px;
      color: #adadad;
      padding: 2px 10px;
      margin-top: -5px;
    }

    .qa-relat {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      span {
        background-color: #ddd;
        color: #555;
        font-size: 12px;
        border-radius: 5px;
      }
      a {
        font-size: 14px;
        border: 1px solid #007bff;
        padding: 5px 10px;
      }
      .col-sm-12 {
        margin: 10px 0px;
        padding: 4px;
      }
      
    }

    .ant-avatar-group {
      span {
        padding: 0px;
      }
    }
  }
}

.l-side {
  float: left;
}
.r-side {
  float: right;
}
