.mai-login .login .ant-col-8 {
  border-right: 1px solid #ccc;
}
.mai-login .login .ant-input-affix-wrapper {
  width: 93%;
}
.mai-login .login .ant-col.ant-col-12 .ant-form {
  margin-top: 14%;
}

.qa .profile_banner button {
    border: 0px;
    padding: 10px 20px;
    margin: 0px 5px -1px 5px;
    background: #fff;
    color: #34d0cc;
    font-size: 14px;
   
}
.qa .profile_banner button:hover{    background: #f1f1f1;}
.qa .profile_banner p {
  font-size: 14px;
  padding-left: 5px;
  margin-top: 5px;
}
.qa .profile_banner .questions-block {
  margin-left: 25%;
}
.qa-mid-wrap {
  margin-top: 65px;
}
.qa-mid {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  box-shadow: 0 0px 2px #0000002e, 0 2px 2px #0000001f;

  
  p {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .profile {
    display: flex;
    align-items: center;
    p {
      background: #f3f3f3;
      padding-left: 10px;
      font-size: 14px;
      float: right;
    }
  }
  .profile-name {
    flex: 3;
    h4 {
      width: auto;
      display: contents;
      font-size: 20px;
    }
  }

  .profile-pic img {
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .qa-sec {
    border: 1px solid #ccc;
    padding: 15px;
    
    .likesection
    {
      display: flex;
      justify-content: space-around;
      align-items: center;
      span{font-size: 12px; padding: 0px;}
  }
 .follow {
    display: flex;
    align-items: center;
}
    .follows{
        display: block;
        font-size: 14px;
        text-decoration: underline;
    }
    p{margin-top: 20px;}
    h4 {
      font-size: 18px;
      margin-bottom: 15px;
    }
    span {
      padding: 5px 8px;
      margin: 2px;
      font-size: 14px;
    }
    .new {
      background-color: #00a39e;
      color: #fff;
    }
    .question {
      background-color: #c5e8e5;
      color: #007478;
    }
    .answers {
      background-color: rgba(0, 0, 0, 0);
      color: #00a39e;
      box-shadow: inset 0 0 0 1px #00a39e;
    }
    .more {
      font-size: 14px;
      float: right;
      border: 1px solid #ccc;
      cursor: pointer;
      border-radius: 5px;
      color: #adadad;
      padding: 2px 10px;
      margin-top: -5px;
    }

    .qa-relat {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      span {
        background-color: #ddd;
        color: #555;
        font-size: 12px;
        border-radius: 5px;
      }
      a {
        font-size: 14px;
        border: 1px solid #007bff;
        padding: 5px 10px;
      }
      .col-sm-12 {
        margin: 10px 0px;
        padding: 4px;
      }
      
    }

    .ant-avatar-group {
      span {
        padding: 0px;
      }
    }
  }
}

.l-side {
  float: left;
}
.r-side {
  float: right;
}
























.cascade-slider_container {
  position: relative;
  width: 100%;
      height: 100vh;
	  overflow:hidden;
	  cursor: url("../images/swip.png"),auto;
}

.cascade-slider_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.3);
  transition: all 1s ease;
  opacity: 0;
  z-index: -1;
  text-align: center;
  cursor:pointer;
}
.commitments .lang-btn a{color: #64513d;}

.cascade-slider_item.now img {
  width:100%; border-width: 3px; border-style: solid; border-radius:50%; padding: 8px;top: 25%;
    position: relative;transition: all 0.5s ease;
}

.cascade-slider_item.now:hover .center-img img{padding: 0px;} 


.cascade-slider_item.next img {
  width: 450px; border-width: 2px; border-style: solid;  border-radius:50%; padding: 4px;
}
.cascade-slider_item.prev img {
  width: 450px; border-width: 2px; border-style: solid; border-radius:50%; padding: 4px;
}
.banner_1{ border-color: #0065A1;}
.banner_2{ border-color: #FF4D00;}
.banner_3{ border-color: #007481;}
.banner_4{ border-color: #F5A800;}
.banner_5{ border-color: #006837;}

.cascade-slider_item.next {
  left: 1%;
   top: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.6);
  opacity: 0.5;
  z-index: 1;
}

.cascade-slider_item.prev {
  right: 1%;
   top: 50%;
  transform: translateY(-50%) translateX(50%) scale(0.6);
  opacity: 0.5;
  z-index: 1;    left: auto;
}

.cascade-slider_item.now {
    top: 90%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(115%);
  -ms-transform: translateY(-50%) translateX(-50%)  scale (1.15);
-webkit-transform: translateY(-50%) translateX(-50%) scale(1.15);
-moz-transform: translateY(-50%) translateX(-50%)  scale(1.15);
-o-transform: translateY(-50%) translateX(-50%)  scale(1.15);
  opacity: 1;
  z-index: 5;
}

.cascade-slider_arrow {
  display: inline-block;
  position: absolute;
  top: 50%; opacity:0;
  cursor: pointer;
  z-index: 5;
  
}
.cascade-slider_arrow-left { left: 0; }
.cascade-slider_arrow-right { right: 0; }
.cascade-slider_nav {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.cascade-slider_dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 1em;
  background: #ddd;
  list-style: none;
  cursor: pointer;
}

.cascade-slider_dot:hover { background: #555; }
.cascade-slider_dot.cur { background: #555; }
















.banner-l
{	color:#64513D;
	position: relative;
	display: flex;width:50%;
    flex-direction: column;
	justify-content: center;
    align-content: center;}
.banner-r
{display: flex;position: relative;transform: scale(0.01);
    flex-direction: column;margin-top: 26px;
	justify-content: center;
        align-items: center;}
		
.banner-r.anim{left:-800px ; position:relative;}

.banner-r img{    box-sizing: border-box;
    max-width: 450px; 
    border-radius: 50%;   
    padding: 8px; }
	
#banner-1 .banner-r img	{	border: 3px solid #0065A1;	}
#banner-2 .banner-r img	{	border: 3px solid #FF4D00;	}
#banner-3 .banner-r img	{	border: 3px solid #007481;	}
#banner-4 .banner-r img	{	border: 3px solid #F5A800}
#banner-5 .banner-r img	{	border: 3px solid #006837}

#banner-1 .banner-r a{ background: #fff;}
#banner-2 .banner-r a{ background: #fff;}
#banner-3 .banner-r a{ background: #fff;}
#banner-4 .banner-r a{ background: #fff;}
#banner-5 .banner-r a{ background: #fff;}


#banner-1 .banner-r a span{background: #0065a1;}
#banner-2 .banner-r a span{background: #FF4D00;}
#banner-3 .banner-r a span{background: #007481;}
#banner-4 .banner-r a span{background: #F5A800;}
#banner-5 .banner-r a span{background: #006837;}

#banner-1 .banner-l h2 span{ background: #0065a1;}
#banner-2 .banner-l h2 span{ background: #FF4D00;}
#banner-3 .banner-l h2 span{ background: #007481;display: inline-block;}
#banner-4 .banner-l h2 span{ background: #F5A800; display: inline-block;margin-top: 3px;}
#banner-5 .banner-l h2 span{ background: #006837;line-height: 47px;}



.banner-r a
{
   
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    color: #fff !important;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateY(-35%) translateX(-50%);
	font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
	    display: flex;
    justify-content: flex-start;
    flex-direction: column;
	line-height: 0px;
	cursor:pointer;
}
.banner-r a span {
    position: relative;
    top: -38px;
    text-shadow: 2px 1px #484848;
    font-size: 14px;
    line-height: 28px;
    transform: rotate(355deg);
    width: 60px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
.banner-r a span.bg{
	background:#64513D !important;
	padding:0px 10px;
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 44%);
    -webkit-box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 44%);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.44);
	transform: rotate(0deg);
	z-index: -1;
}
.banner-l .next-slide-btn{    left: 0; bottom: -100px; cursor:pointer;}
.banner-l .next-slide-btn img{ width: 18px;    height: 26px;    object-fit: contain;}
.banner-l .next-slide-btn span{color:#fff; font-size:11px;    }
.banner-r a img
{
    top: -56px;
    position: relative;
    border: 0px !important;
}

.banner-l .next-slide-btn {
    background: #64513D;
    border-radius: 14px;
    padding: 5px 10px;
}	
	.banner-l .next-slide-btn span:hover {
    box-shadow: inset 0px 0 0 0 red;
    color: #fff;
}
.banner-l h2 span{ color: #fff; padding: 0px 5px; }
.banner-l h6{ max-width: 65%; }
.banner-l h2 {	    font-weight: 600;    max-width: 65%;  font-size: 34px;  }	
.banner-l h6{		font-weight: 600;}
.d-none{ display:none !important;}
.banners{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;	
    overflow: hidden;
    z-index: 1;
	display: flex;
    justify-content: center;
   align-items: center;
}
#banner-1 {
    background: url("../images/banner-1-bg.png") no-repeat center center;
	background-size: cover;
}
#banner-2 {
    background: url("../images/banner-2-bg.png") no-repeat center center;
	background-size: cover;
}

#banner-3 {
    background: url("../images/banner-3-bg.png") no-repeat center center;
    background-size: cover;
}
#banner-4 {
    background: url("../images/banner-4-bg.png") no-repeat center center;
	background-size: cover;
}
#banner-5 {
    background: url("../images/banner-5-bg.png") no-repeat center center;
	background-size: cover;
}



.slider-bg-1 {
    background: url("../images/banner-1-bg.png") no-repeat center center;
	background-size: cover;
}
.slider-bg-2 {
    background: url("../images/banner-2-bg.png") no-repeat center center;
	background-size: cover;
}

.slider-bg-3{ background: url("../images/banner-1-bg.png") no-repeat center center;
    background-size: cover;}
.slider-bg-3:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #9ec6c9a3;
    top: 0;
    left: 0;
}
.slider-bg-4 {
    background: url("../images/banner-4-bg.png") no-repeat center center;
	background-size: cover;
}
.slider-bg-5 {
    background: url("../images/banner-5-bg.png") no-repeat center center;
	background-size: cover;
}

#banner-1 .fruits-1{width:250px;    position: absolute;    left: -13%;  opacity:1;  top: 5%;}	
#banner-1 .fruits-2{width:120px;position: absolute;   left: 40%; opacity:1;  bottom: 10%;}
#banner-1 .fruits-3 {    width: 300px;    left: -10%;    bottom: -20%; opacity:1;    position: absolute;}
#banner-1 .fruits-4{width: 130px;    position: absolute;    left: 57%;  opacity:1;   top: 20%;    z-index: 9;}
#banner-1 .fruits-5 {    width: 200px;    position: absolute;    right: -20px; opacity:1;   bottom: -25px;}


#banner-2 .edu-1{width: 400px;    position: absolute;    left: 25%;  opacity:1;  top:2%;}	
#banner-2 .edu-2{    width: 120px;    position: absolute;    right: -4%; opacity:1;   top: 10%;}
#banner-2 .edu-3 {  width: 300px;    right: -1%;    bottom: -11%; opacity:1;   position: absolute;    z-index: 99;}
#banner-2 .edu-4{width:250px;position: absolute;    left: 30%;  opacity:1;  bottom: -5%;}

#banner-3 .bubble-1{ width:250px;   position: absolute;     top: -11%;  opacity:1;  left: 40%; }
#banner-3 .bubble-2{bottom: 20%;    position: absolute;    width: 70px;  opacity:1;  left: 60%;z-index: 9}
#banner-3 .bubble-3{bottom: -100px; width: 270px;   position: absolute; opacity:1;   right: -50px; z-index: 9}
#banner-3 .bubble-4{bottom: 0;    position: absolute;     width: 175px;  opacity:1; left:-100px; z-index: 9}
#banner-3 .bubble-5{bottom: -50px;    position: absolute;    left: 0;}



#banner-4 .flotting-img-1{ width:300px;   position: absolute;     top: -11%;opacity:1;    left: -10%; }
#banner-4 .flotting-img-2{bottom: 26%;    position: absolute;    width: 120px; opacity:1;   left: 57%;    z-index: 9;}
#banner-4 .flotting-img-3{    bottom: 30px;    width: 170px;    position: absolute;    opacity: 1;    right: 41px; }
#banner-4 .flotting-img-4{top: 10%;    position: absolute;    width: 175px;  opacity:1;  right: -2%;}
#banner-4 .flotting-img-5{bottom: -150px;    position: absolute;   width: 300px;opacity:1;  left: 0;}
#banner-4 .flotting-img-6{top: -15%;    position: absolute;    width: 350px;   opacity:1; left: 20%;    z-index: 99; }

#banner-5 .flotting-img-1{     width: 330px;    position: absolute;    top: -18%;  opacity:1;  left: 25%; }
#banner-5 .flotting-img-2{    top: 6%;    position: absolute;    width: 150px;   opacity:1; right: -4%;    z-index: 9;}
#banner-5 .flotting-img-3{bottom: -120px;    width: 270px;    position: absolute; opacity:1;   left: 30%; }
#banner-5 .flotting-img-4{bottom: 24%; position: absolute; width: 150px;  right: 4%; opacity:1; z-index: 9;}

.idea {
    position: absolute;
    bottom: -20px;
    left: 50px;
    display: flex;
    flex-direction: column;
    width: 110px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: #ffffff8c;
    border-radius: 50%;
    padding: 28px 16px;
    text-align: center;
}
.idea img {
    width: 20px;
}

.center-img {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cascade-slider_item.now:hover .center-img:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    border-radius: 50%;
    background: url("../images/overlay.png") no-repeat center top;
    text-align: center;
    transform: translate(-50%, 0%);
    background-size: inherit;
}

.slid-number
{
    position: absolute;
    z-index: 8;
    left: 50%;
        top: 12%;
    transform: translateY(-50%) translateX(-50%); display:flex;
	justify-content: center;
    flex-direction: column;
    color: #64513d;
}
.slid-number div {
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height:30px;
}
.slid-number span{ font-size: 45px; color:#8A7969;    font-weight: 600;padding: 0px 3px;}
.slid-number span.slash{ font-weight: 300;}
.slid-number span.slid-all{ opacity:0.5; font-weight: 200;}
.commitments  .logo img, .commitments  .wsmenucontainer a img{
        filter: invert(81%) sepia(72%) saturate(2488%) hue-rotate(405deg) brightness(118%) contrast(77%);
    }
	.arrows{
   display: flex;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    z-index: 8;
    top: 40%;
    width: 100%;
    height: auto;  
}
.arrow {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 5px;

}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow-right:after {
    content: 'Next';
	font-size:12px;
	font-weight:bold;
    position: absolute;
    transform: rotate(-90deg);
    right: 30px;
	color:#64513D;
}
.arrow-right.commit:after {
    content: 'Commitments';
	font-size:12px;
	font-weight:bold;
    position: absolute;
    transform: rotate(-90deg);
    right: 30px;
	color:#64513D;
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow-left:after {
	font-size:12px;
	font-weight:bold;
    content: 'Previous';
    position: absolute;
    transform: rotate(90deg);
    left: 30px;
	color:#64513D;
}

.arrow-left.commit:after {
	font-size:12px;
	font-weight:bold;
    content: 'commitment';
    position: absolute;
    transform: rotate(90deg);
    left: 30px;
	color:#64513D;
}
.arrow-right{
    padding: 49px 15px 45px 20px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;	
  cursor:pointer;
	}
.arrow-left
{
    padding: 49px 5px 45px 20px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  cursor:pointer;
}

.cascade-slider_item .icon{position: absolute;
left: -3%;
    top:34%;
    width: 100px;
    height: 100px; z-index:99;
    border-radius: 50%; display:none;
    padding: 10px;}
	

.cascade-slider_item.now .copy{font-family: 'Nestle Brush'; font-size:50px; color:#64513D;    display: flex;
    flex-direction: column; margin-bottom:50px; }	
	
.cascade-slider_item.now .copy span{font-family:'Nestle Text Book';font-size:24px; font-weight:600; line-height:5px;  }
.cascade-slider_item.now .icon	{display:block;}
.cascade-slider_item.now .icon img{width:100% !important}
.cascade-slider_item .icon img{border:0px; border-radius:0px;    padding: 12px;width: 100%;
    position: initial;}

#cascade-slider-1 .icon{ background: #0065a1;}
#cascade-slider-2 .icon{ background: #D64123;}
#cascade-slider-3 .icon{ background: #007481;}
#cascade-slider-4 .icon{ background: #F5A800;}
#cascade-slider-5 .icon{ background: #006837;}

#cascade-slider-1.prev .copy{ background: #0065a1;}
#cascade-slider-2.prev .copy{ background: #D64123;}
#cascade-slider-3.prev .copy{ background: #007481;}
#cascade-slider-4.prev .copy{ background: #F5A800;}
#cascade-slider-5.prev .copy{ background: #006837;}

#cascade-slider-1.next .copy{ background: #0065a1;}
#cascade-slider-2.next .copy{ background: #D64123;}
#cascade-slider-3.next .copy{ background: #007481;}
#cascade-slider-4.next .copy{ background: #F5A800;}
#cascade-slider-5.next .copy{ background: #006837;}

.cascade-slider_item.next .copy span{display:none}
.cascade-slider_item.next .copy {
    position: absolute;
    top: 44%;
    right: -54%;
    width: 305px;
    font-size: 20px;
    font-weight: 400;
    padding: 13px 25px 13px 65px;
    box-sizing: border-box;
	letter-spacing: 3px;
    z-index: -1;
    border-radius: 50px;
    line-height: 26px;
    color: #fff;
}

.cascade-slider_item.prev .copy span{display:none}
.cascade-slider_item.prev .copy {
    position: absolute;
    top: 44%;
    right: 90%;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 13px 95px 13px 30px;
    box-sizing: border-box;
    z-index: -1;
    border-radius: 70px;
    width: 100%;
    line-height: 26px;
    color: #fff;
}
.anim{opacity:0;}
.animelement{ opacity:0;	
margin-bottom: 0px; margin-top: 0px; animation: float 6s ease-in-out infinite;
}
.animelementcopy{    transform: scale(0.2);    left: -500px;}


@keyframes float {
	0% {
		margin-bottom: 0px;
		margin-top: 0px;
	}
	50% {
	margin-bottom: -40px;
	margin-top: -40px;
	}
	100% {
		margin-bottom: 0px;
			margin-top: 0px;
	}
}

@media (min-width : 1500px) and (max-width : 4000px) {
	.cascade-slider_item.now{width: 50%;}
.cascade-slider_item.now img {    width:100%;}
.cascade-slider_item.now .copy{font-size: 4vw;}
.cascade-slider_item.now .copy span{font-size: 32px;}
.cascade-slider_item.prev img {width: 650px;}
.cascade-slider_item.next img {    width: 650px;}

.banner-r img{max-width:720px}

.banner-l h2{  max-width: 81%;  font-weight: 800;font-size: 50px;}
.banner-l h6 {  max-width: 81%;  font-size: 30px;}
.slid-number div{    font-size: 18px;}
.slid-number span {
    font-size: 60px;
    font-weight: 600;
    padding: 14px 3px;
}
.banner-r a{ width: 170px;    height: 170px;  line-height: 60px;bottom: -120px;  font-size: 40px;}
.banner-r a span{    font-size: 28px; width: auto; padding: 5px 10px;}
.banner-l .next-slide-btn span{font-size: 18px;}
.cascade-slider_item .icon {
    padding: 20px;
        top: 28%;
    width: 150px;
    height: 150px;

}
.cascade-slider_item.now{transform: translateY(-50%) translateX(-50%) scale(135%);
-ms-transform: translateY(-50%) translateX(-50%)  scale (1.35);
-webkit-transform: translateY(-50%) translateX(-50%) scale(1.35);
-moz-transform: translateY(-50%) translateX(-50%)  scale(1.35);
-o-transform: translateY(-50%) translateX(-50%)  scale(1.35);


}
.cascade-slider_item.next .copy {
   right: -66%;top: 42%;
    width: 500px;
    padding: 23px 65px 23px 70px;
    font-size: 40px;
    line-height: 45px;
}
.cascade-slider_item.prev .copy
{
    top: 42%;    right: 90%;width: 500px;
     padding:23px 93px 23px 30px;
    font-size: 40px;
    line-height: 45px;
}
.arrow-left{padding: 70px 20px 60px 20px;}
.arrow-right{padding: 70px 20px 60px 20px;}
.animelementcopy{left: -800px;}

#banner-1 .fruits-1 {    width: 300px;    position: absolute;    left: -10%;    top: 10%;}
#banner-1 .fruits-2{width:200px;}
#banner-1 .fruits-3 { width: 500px;    left: -12%;    bottom: -10%;   position: absolute;}
#banner-1 .fruits-4{width: 180px; }
#banner-1 .fruits-5 {    width: 250px;  position: absolute;    right: -20px; opacity:1;   bottom: -25px; }


#banner-2 .edu-1{width: 550px;    position: absolute;    left: 25%;    top: -3%;}	
#banner-2 .edu-2{    width: 220px;    position: absolute;    right: -4%;    top: 10%;}
#banner-2 .edu-3 { width: 450px;    right: -4%;    bottom: 2%;    position: absolute;    z-index: 99;}
#banner-2 .edu-4{    width: 450px;    position: absolute;    left: 25%;    bottom: -5%;}

#banner-3 .bubble-1 {    width: 350px;    position: absolute;    top: -5%;    left: 40%; }
#banner-3 .bubble-2{width: 150px;    left: 56%;}
#banner-3 .bubble-3{bottom: -100px; width: 330px;   position: absolute;    right: -50px; z-index: 9}
#banner-3 .bubble-4{bottom: 0;    position: absolute;     width: 255px;   left:-100px; z-index: 9}
#banner-3 .bubble-5{bottom: -50px;    position: absolute;    left: 0;}
#banner-3 .banner-l h6{ max-width: 85%; }
#banner-3 .banner-l h2 {max-width: 85%;}


#banner-4 .flotting-img-1{ width:300px;       top: -1%;    left: -5%; }
#banner-4 .flotting-img-2{width: 250px;    left: 52%;}
#banner-4 .flotting-img-3{bottom: -50px; }
#banner-4 .flotting-img-4{    top: 5%;    width: 225px;    right: -2%;}
#banner-4 .flotting-img-5{    bottom: -8%;    width: 300px;   left: -5%;}
#banner-4 .flotting-img-6{top: -13%; width: 450px;  left: 24%; z-index: 99;}

#banner-5 .flotting-img-1{      width: 480px;    position: absolute;    top: -12%;    left: 28%; }
#banner-5 .flotting-img-2{    top: 6%;    position: absolute;    width: 250px;    right: -4%;    z-index: 9;}
#banner-5 .flotting-img-3{bottom: -120px;    width: 390px;     left: 30%; }
#banner-5 .flotting-img-4{bottom: 18%; width: 200px;  right: 5%;}

}

@media (min-width : 1700px) and (max-width : 2000px) {
	.cascade-slider_item.prev .copy {
    position: absolute;
    top: 44%;
       right: 90%;}
	#banner-3 .bubble-5 {
    bottom: -50px;
    height: 112%;
}
.cascade-slider_item.now{transform: translateY(-50%) translateX(-50%) scale(115%);
	-ms-transform: translateY(-50%) translateX(-50%)  scale (1.15);
-webkit-transform: translateY(-50%) translateX(-50%) scale(1.15);
-moz-transform: translateY(-50%) translateX(-50%)  scale(1.15);
-o-transform: translateY(-50%) translateX(-50%)  scale(1.15);
}
}
@media (min-width : 1400px) and (max-width :1500px) {
	
.banner-l h2 {
    font-weight: 600;
    max-width: 76%;
    font-size: 34px;
    text-transform: uppercase;
}
.banner-l h6{ max-width:76%;}
.cascade-slider_item.prev .copy{width: 73%;}
}
@media (min-width : 1300px) and (max-width :1400px) {
	.cascade-slider_item.prev .copy{width: 73%;}
}
@media (min-width : 1500px) and (max-width : 1700px) {
	.cascade-slider_item.now {    width: 40%;}
	#banner-3 .bubble-5 {
    bottom: 0px;
    position: absolute;
    left: 0;
    max-width: 118%;
	}
	.cascade-slider_item.now{transform: translateY(-50%) translateX(-50%) scale(115%);
-ms-transform: translateY(-50%) translateX(-50%)  scale (1.15);
-webkit-transform: translateY(-50%) translateX(-50%) scale(1.15);
-moz-transform: translateY(-50%) translateX(-50%)  scale(1.15);
-o-transform: translateY(-50%) translateX(-50%)  scale(1.15);
}
.cascade-slider_item.prev .copy{ right: 90%;}
}


@media (min-width : 1000px) and (max-width : 1500px) {
.cascade-slider_slides{   position: relative;  }
}

@media (min-width : 1100px) and (max-width : 1300px) {
.cascade-slider_item.prev .copy{width: 70%;}
}
@media (min-width : 1000px) and (max-width : 1100px) {
	.banner-r{width: 44%;}
	.banner-r img {    max-width: 85%;}
	.banner-r a img{ max-width: 100%; width:100%;}
}
@media (min-width : 800px) and (max-width : 1100px) {
	.cascade-slider_item.now:hover .center-img:after{display:none;}
	#banner-2 .edu-1{left: 22%;}
	.cascade-slider_item.now {    top: 84%;}
		.slid-number{top: 20%;}
	.banner-l{max-width: 36%;}
.cascade-slider_item.prev .copy{ right: 85%;    width: 75%;}
	.cascade-slider_item.now .copy { line-height: 60px;}
.banner-l h6{    max-width: 100%;}	
.banner-l h2{ max-width:100%;}
.banner-r a {
    width: 76px;
    height: 73px;
}
.banner-r a img {
    top: -56px;
    position: relative;
    border: 0px !important;
    width: 100%;
}
}
@media (min-width :700px) and (max-width :900px) {
	.banner-l h2 span {
    display: inline;
    line-height: 33px;
}

		#banner-img-1, #banner-img-2, #banner-img-3, #banner-img-4, #banner-img-5 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}
	.cascade-slider_item .icon{top: 30%;}
	.cascade-slider_item.prev{transform: translateY(-50%) translateX(50%) scale(0.4);}
	.cascade-slider_item.next{ transform: translateY(-50%) translateX(-50%) scale(0.4);}
	.cascade-slider_item.now:hover .center-img:after{display:none;}
	.cascade-slider_item.now{width: 70%;}
	.cascade-slider_item.now .copy{    font-size: 44px;}
		.arrow-left:after{left: 23px;}
	.arrow-right:after{right: 35px;}
	.cascade-slider_item.next .copy{top: 44% !important;  right: -54%!important;}
	.cascade-slider_item.prev .copy{top: 44% !important;}
}

@media (min-width :500px) and (max-width :800px) {





	.cascade-slider_item.now:hover .center-img:after{display:none;}
	.slid-number{top: 20%;}
.cascade-slider_item.prev .copy { right: 85%;        width: 335px; }
.cascade-slider_item.next .copy {   left: 84%;}
.banner-r {
    margin-top: 170px;
    width: 45%;
}
.banner-r a {
    background: #fff;
    width: 75px;
    height: 75px;
}

.banner-r img {
    max-width: 100% !important;
}

.banner-l{max-width: 80%; width: 40%; }
.banner-l h2{max-width: 100%;}
.banner-l h6 {max-width: 100%;}
}

@media (min-width : 250px) and (max-width : 700px) {
	#banner-img-1, #banner-img-2, #banner-img-3, #banner-img-4, #banner-img-5 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}
	.banner-r a img {    width: 100px;    max-width: 100%;}
	.idea{display:none;}
	.cascade-slider_item.now:hover .center-img:after{display:none;}
	.slider-bg-3:before{display:none;}
	.arrows{    position: fixed;}
	.cascade-slider_item.now{    width: 90%;    top: 75%;}
	.cascade-slider_item .icon {
    position: absolute;
    left: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    padding: 2px;
}
	.cascade-slider_item.now .copy{line-height: 45px;font-size: 40px;margin-bottom: 30px;}
	.cascade-slider_item.now .copy span{font-size: 16px;line-height: 25px;}
	
	.slid-number{top:125px;}
	.cascade-slider_item{transform: translateY(-0%) translateX(-50%) scale(0.3);}
	.cascade-slider_item.prev{transform: translateY(-50%) translateX(50%) scale(0.4);}
	.cascade-slider_item.next{ transform: translateY(-50%) translateX(-50%) scale(0.4);}
		.banner-r img{    max-width: 65%;}
	.arrow-right{padding: 49px 14px 45px 12px;}
	.arrow-left{    padding: 49px 12px 45px 14px;}
	.arrow-left:after{left: 23px;}
	.arrow-right:after{right: 35px;}

#banner-1 .fruits-1{width:250px;    position: absolute;    left: -25%;    top: 15%;}	
#banner-1 .fruits-2{width:120px;position: absolute;   left: 40%;  bottom: 10%;}
#banner-1 .fruits-3 {    width: 300px;    left: -10%;    bottom: -20%;    position: absolute;}
#banner-1 .fruits-4{width: 130px;    position: absolute;    left: 57%;    top: 20%;    z-index: 9;}
#banner-1 .fruits-5 {    width: 200px;    position: absolute;    right: 0;    bottom: 0;}


#banner-2 .edu-1{width: 250px;    position: absolute;    left: 25%;    top: -5%;}	
#banner-2 .edu-2{    width: 120px;    position: absolute;    right: -4%;    top: 10%;}
#banner-2 .edu-3 {  width: 300px;    right: -1%;    bottom: -11%;    position: absolute;    z-index: 99;}
#banner-2 .edu-4{width:250px;position: absolute;    left: 30%;    bottom: -5%;}

#banner-3 .bubble-1{ width:150px;   position: absolute;     top: 11%;    left: -10%; }
#banner-3 .bubble-2{bottom: 20%;    position: absolute;    width: 70px;    left: 60%;z-index: 9}
#banner-3 .bubble-3{bottom: -100px; width: 270px;   position: absolute;    right: -50px; z-index: 9}
#banner-3 .bubble-4{bottom: 0;    position: absolute;     width: 175px;   left:-100px; z-index: 9}
#banner-3 .bubble-5{bottom: -50px;    position: absolute;    left: 0;}



#banner-4 .flotting-img-1{ width:200px;   position: absolute;     top: 1%;    left: -10%; }
#banner-4 .flotting-img-2{bottom: 26%;    position: absolute;    width: 120px;    left: 57%;    z-index: 9;}
#banner-4 .flotting-img-3{bottom: -100px; width: 270px;   position: absolute;    right: -50px; }
#banner-4 .flotting-img-4{top: 10%;    position: absolute;    width: 175px;    right: -2%;}
#banner-4 .flotting-img-5{bottom: -150px;    position: absolute;   width: 300px;  left: 0;}
#banner-4 .flotting-img-6{top: -15%;    position: absolute;    width: 350px;    left: 20%;    z-index: 99; }

#banner-5 .flotting-img-1{     width: 380px;    position: absolute;    top: -18%;    left: 25%; }
#banner-5 .flotting-img-2{    top: 6%;    position: absolute;    width: 150px;    right: -4%;    z-index: 9;}
#banner-5 .flotting-img-3{bottom: -120px;    width: 270px;    position: absolute;    left: 30%; }
#banner-5 .flotting-img-4{bottom: 25%; position: absolute; width: 110px;  right: 5%; z-index: 9;}

	
	
	
}
@media (min-height : 701px) and (max-height : 800px) {
	.cascade-slider_item.now{ font-size:4vw}
}
@media (min-height : 600px) and (max-height : 700px) {
.cascade-slider_item.now{ width: 70%;}
}

@media (min-height : 501px) and (max-height : 700px) {
	.slid-number {    top: 70px;}
	.cascade-slider_item.now{top: 90%;}
	.cascade-slider_item.now{transform: translateY(-50%) translateX(-50%) scale(100%);
	-ms-transform: translateY(-50%) translateX(-50%)  scale (0.9);
-webkit-transform: translateY(-50%) translateX(-50%) scale(0.9);
-moz-transform: translateY(-50%) translateX(-50%)  scale(0.9);
-o-transform: translateY(-50%) translateX(-50%)  scale(0.9);
	
	}
	.cascade-slider_item.now img {    width: 100%;}
	.banner-l h2 {       max-width: 77%;}
	.banner-l h6{max-width: 77%;}
}

@media (min-height : 421px) and (max-height : 500px) {
	
		.slid-number {    top: 70px;}
		.cascade-slider_item.now{width: 42%;}
		.cascade-slider_item.now .copy{font-size: 4vw; margin-bottom: 2%;}
		.cascade-slider_item .icon{width:70px; height:70px;}
}
@media (min-height : 200px) and (max-height : 420px) {
	
	
#banner-1 .fruits-1{width:150px;    position: absolute;    left: -15%;    top: 15%;}	
#banner-1 .fruits-2{width:80px;position: absolute;   left: 40%;  bottom: 10%;}
#banner-1 .fruits-3 {    width: 100px;    left: -10%;    bottom: -20%;    position: absolute;}
#banner-1 .fruits-4{width: 80px;    position: absolute;    left: 57%;    top: 20%;    z-index: 9;}
#banner-1 .fruits-5 {    width: 100px;    position: absolute;    right: 0;    bottom: 0;}


#banner-2 .edu-1{width: 150px;    position: absolute;    left: 25%;    top: -5%;}	
#banner-2 .edu-2{    width: 120px;    position: absolute;    right: -4%;    top: 10%;}
#banner-2 .edu-3 {  width: 200px;    right: -1%;    bottom: -11%;    position: absolute;    z-index: 99;}
#banner-2 .edu-4{width:150px;position: absolute;    left: 30%;    bottom: -5%;}

#banner-3 .bubble-1{ width:100px;   position: absolute;     top: 11%;    left: 10%; }
#banner-3 .bubble-2 {
    bottom: 28%;
    position: absolute;
    width: 36px;
    left: 56%;
    z-index: 9;
}
#banner-3 .bubble-3{bottom: -100px; width: 170px;   position: absolute;    right: -50px; z-index: 9}
#banner-3 .bubble-4{bottom: 0;    position: absolute;     width: 105px;   left:-100px; z-index: 9}
#banner-3 .bubble-5{bottom: -50px;    position: absolute;    left: 0;}



#banner-4 .flotting-img-1{ width:100px;   position: absolute;     top: 1%;    left: 0%; }
#banner-4 .flotting-img-2 {
    bottom: 38%;
    position: absolute;
    width: 75px;
    left: 51%;
    z-index: 9;
}
#banner-4 .flotting-img-3 {
    bottom: -28px;
    width: 110px;
    position: absolute;
    right: -50px;
}
#banner-4 .flotting-img-4 {
    top: 10%;
    position: absolute;
    width: 75px;
    right: 0%;
}
#banner-4 .flotting-img-5{bottom: -150px;    position: absolute;   width: 200px;  left: 0;}
#banner-4 .flotting-img-6{top: -15%;    position: absolute;    width: 150px;    left: 20%;    z-index: 99; }

#banner-5 .flotting-img-1{     width: 180px;    position: absolute;    top: -18%;    left: 25%; }
#banner-5 .flotting-img-2{    top: 6%;    position: absolute;    width: 85px;    right: -4%;    z-index: 9;}
#banner-5 .flotting-img-3{bottom: -80px;    width: 170px;    position: absolute;    left: 30%; }
#banner-5 .flotting-img-4{bottom: 25%; position: absolute; width: 110px;  right: 5%; z-index: 9;}

	.banner-r {    width: 45%;}
	
#banner-5 .banner-l h2 span {
    background: #006837;
    line-height: 33px;
}	
	
	.cascade-slider_item.now .copy{    margin-bottom: 2%;}
	.cascade-slider_item.now{width: 42%;}
	.slid-number {    top: 80px;}
	.banners {
    flex-direction: row;
    justify-content: space-around;
    padding: 10%;
    min-height: 420px;
}

.banner-r img{width: 90%;}
.slider-bg-3 {    background:#B0D6DB;	background-size: cover;}
.banner-r {margin-top: 5%;}
.banner-l { width: 55%; margin-top: 5%;}

 .banner-l h2{   font-size: 24px;}
	.cascade-slider_slides {  height: 350px;}
	.cascade-slider_item.now .copy{font-size: 30px;}
	.cascade-slider_item.now .copy span{font-size: 18px;}
	.slid-number span {    font-size: 25px;}
		.arrow-left {    padding: 40px 12px 30px 8px;}
.cascade-slider_item img{width: 300px;}
.cascade-slider_item.next .copy{}
.cascade-slider_item.next img {width: 315px;}
.cascade-slider_item.prev img{width: 300px;}
.cascade-slider_item.now img{border-width: 3px;}
.arrow-right {    padding: 40px 8px 30px 12px;}
		.cascade-slider_item.now .icon img {    width: 100%;}
		.cascade-slider_container{overflow-y: scroll;}
		.cascade-slider_item.now {transform: translateY(-50%) translateX(-50%) scale(90%);
			-ms-transform: translateY(-50%) translateX(-50%)  scale (0.9);
-webkit-transform: translateY(-50%) translateX(-50%) scale(0.9);
-moz-transform: translateY(-50%) translateX(-50%)  scale(0.9);
-o-transform: translateY(-50%) translateX(-50%)  scale(0.9);
    top: 85%;
}
		.cascade-slider_item .icon {    width: 72px;    height: 70px;}
		
}


@media (min-width : 250px) and (max-width : 480px) {
	.banner-l h2 span{line-height: 40px !important;    display: inline !important; }
	.cascade-slider_item.now {
    width:75%;
    font-size: 4vw;top: 75%;
}

	.arrows{top: 45%;}
	.banner-r a{    bottom: -90px;}
	.cascade-slider_item .icon img{padding: 8px;}
	.banners{flex-direction: column-reverse; overflow-y: scroll; }
	.banner-l{max-width: 90%; width: 80%;   margin-top: 16%;justify-content: flex-start;}
	.banner-l h2{    max-width: 100%;font-size:26px;}
	.banner-l h6{    max-width: 100%;}
	.banner-l h2 span{font-size: 28px;}
	.banner-r{margin-top: 180px; }
	.bounce{    animation: auto;}	
	.banner-l .next-slide-btn{  position: relative;  width:130px; bottom: 0px;left: 14px;}
	.slid-number {    top: 20%;}
	.cascade-slider_item.now img{border-width: 3px;}
.cascade-slider_item.now .copy {    line-height: 38px;    font-size: 40px;    margin-bottom: 130px;}
.cascade-slider_item.prev .copy {
    font-size: 4vw;
    padding: 6px 42px 6px 16px;
    top: 35%;
    width: 192px;
    letter-spacing: 0px;
    right: 87%;
    line-height: normal;
}

.cascade-slider_item.next .copy {
    font-size: 4vw;
    padding: 6px 30px 6px 52px;
    top: 34%;
    width: 215px;
    letter-spacing: 0px;
    right: -90%;
    line-height: normal;
}

.cascade-slider_item.next {
    left: -4%;z-index:10;
    top: 47%;
    transform: translateY(0%) translateX(-50%) scale(0.7);
    bottom: auto;
}
.cascade-slider_item.prev {
    right: 0%;z-index:10;
    top: 47%;
    bottom: auto;
    transform: translateY(0%) translateX(50%) scale(0.7);
}
.cascade-slider_item.next img {    width: 180px;}
.cascade-slider_item.prev img{    width: 180px;}

.cascade-slider_item .icon{	top: 55%;	}
.cascade-slider_slides {   transform: translateY(0%) translateX(0%) scale(1);}
.cascade-slider_item.now .copy{min-height: 135px;}
.banners{    height: 900px;}
.arrow-left {
    padding: 40px 12px 30px 8px;
}
.arrow-right {
    padding: 40px 8px 30px 12px;
}
		
#banner-1 .fruits-1{width: 200px;    position: absolute;    left: -41%;    top: 1%;}	
#banner-1 .fruits-2{width: 100px;    position: absolute;    left: -13%;    bottom: 30%;}
#banner-1 .fruits-3 {  display:none;}
#banner-1 .fruits-4{width: 100px;    position: absolute;    left: 14%;    top: 25%;    z-index: 1;}
#banner-1 .fruits-5 {     width: 200px;    position: absolute;    right: -30%;    bottom:24%;}


#banner-2 .edu-1{    width: 170px;  left: -9%;    top: 12%;}	
#banner-2 .edu-2{    width: 120px; right: -4%;    top: 10%;}
#banner-2 .edu-3 { width: 200px; right: -1%;    bottom: -4%;    position: absolute;    z-index: 99;}
#banner-2 .edu-4{width: 150px; left: -10%;    bottom: -5%;}

#banner-3 .bubble-1{ width: 180px;    top: 0%;    left: 40%; }
#banner-3 .bubble-2{bottom: 48%;  width: 50px;   left: 20%;    z-index: 1;}
#banner-3 .bubble-3{bottom: 185px;    width: 170px;    position: absolute;    right: -80px;  }
#banner-3 .bubble-4{    bottom: 0;    width: 105px;    left: -10px;}
#banner-3 .bubble-5{    bottom: 25px;    position: absolute;    left: 0;    background: #fff;}



#banner-4 .flotting-img-1{     width: 153px;    position: absolute;    top: 10%;    left: -10%; }
#banner-4 .flotting-img-2{bottom: 41%;    width: 120px;    left: 9%;    z-index: 1;}
#banner-4 .flotting-img-3{    bottom: -17px;    width: 160px;    position: absolute;    right: -57px; }
#banner-4 .flotting-img-4{bottom: -50px;    width: 100px;    right: 0;}
#banner-4 .flotting-img-5{bottom: -79px;     width: 200px;    left: -45px;}
#banner-4 .flotting-img-6{display:none; }

#banner-5 .flotting-img-1{  display:none;}
#banner-5 .flotting-img-2{    top: 6%;    position: absolute;    width: 150px;    right: -4%;    z-index: 1;}
#banner-5 .flotting-img-3{bottom: -120px;    width: 270px;    position: absolute;    left: 30%; }
#banner-5 .flotting-img-4{bottom: 60%;     width: 110px;    right: 0%; z-index: 1;}
	
}

@media (min-width : 250px) and (max-width : 330px) {
	.cascade-slider_item.next {
    left: -4%;
    top: 50%;
    transform: translateY(0%) translateX(-50%) scale(0.6);
}
.cascade-slider_item.prev {right: -5%;  top: 50%;}
}
