
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mukta:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-lato:'Lato', sans-serif;
$font-mukta:'Mukta', sans-serif;
$font-bebas:'Bebas Neue';
$font-Roboto: 'Roboto', sans-serif;
$font-w-300:  300;
$font-w-200:  200;
$font-w-400:  400;
$font-w-600:  600;
$font-w-700:  700;
$font-w-bold: bold;
