dl, ol, ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
	list-style: none;
}
p{
	font-size: $font-16;
	color: $gray-dark;
	line-height: 24px;
	font-family: $font-lato;
}
.nopad{padding: 0px !important;}
.nomargin{margin: 0px !important;}
body{margin: 0px; padding: 0px; font-family: $font-Roboto; }


header{
background-color: $cyan-color;
height: 60px;
width: 100%;

	.header-wrap{
		max-width: 1360px;
		position: relative;		
		margin: 0 auto;
		display: flex;
		
		.logo
		{
			background: $color-white;
			width: 205px;
    padding-right: 25px;
		}
		.menu-left{
			display: flex;			
			align-items: center;
			flex: 1;
			justify-content: space-evenly;
			li a{ font-size: $font-14; color:$color-white; text-decoration: none;}
		}
		.menu-right
		{
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: end;
			img{width: 18px;
				padding: 3px; }
			li{border: 1px solid $color-white; border-radius: 50%;     padding: 4px;
				width: 25px;
				height: 25px; 
				margin: 5px 8px;
			span{    position: absolute;
				background: $color-white;
				border-radius: 50%;
				width: 20px;
				height: 18px;
				color:$cyan-color ;
				text-align: center;
				top: 6px;
				padding-top: 3px;
				font-size: 12px;}
			}

		}
	}


}